# 依赖
node_modules/
lib/

# 字体、CSS
font-awesome/

# IDE
/.vscode

# 编译后的文件
packagesTraining/**/lib
packagesTraining/**/dist

# 私密文件
key.js

# 资源、媒体
*.min.js
*.jpg
*.png
*.FBX
*.mp4