* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  font-size: 14px;
}

/* 通过CSS模块加载和图片模块加载，打包图片资源 */
body {
  background-image: url('./bigPic.jpg');
  background-position: center;
}