section {
  bottom: 2px solid #ccc;
  margin-bottom: 30px;
}
.color-container {
  overflow: hidden;
  background-image: url('../assets/demo.jpg');
  min-height: 250px;
  color: #fff;
  line-height: 36px;
}
.standard-red {
  background-color: #f00;
}
.opacity {
  background-color: red;
  opacity: .3;
}
.hsl {
  background-color: hsl(0, 80%, 50%);
}
.hsla {
  background-color: hsla(0, 80%, 50%, .3);
}
.rgb{
  background-color: rgb(255, 0, 0);
}
.rgba {
  background-color: rgba(255, 0, 0, .3);
}

/* ====== */
.bro-1~.bro-2 {
  color: red;
}
[name|=data] {
  background-color: blue;
}
[name^=at] {
  background-color: yellow;
}
[name$=bute] {
  color: green;
}
[name*=cat] {
  color: purple;
}
.pseudo-el::before {
  content: "←";
  color: #f00;
}
.pseudo-el::after {
  content: "→";
  color: blue;
}
.pseudo-el-2::first-line {
  background-color: #ccc;
  color: #333;
}
.pseudo-el-2::first-letter {
  font-size: 40px;
}

.column {
  column-count: 5;
  column-width: 100px;
  column-gap: 50px;
}
.column-span {
  columns: 4 150px;
  column-span: all;
  column-rule: thick inset blue;
}

.flex-box {
  display: flex;
  min-height: 200px;
  border: 1px solid #333;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 200px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}
.flex-box>div {
  width: 30%;
  height: 100px;
  border: 1px solid #000;
}
.flex-rows {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  height: 300px;
}
.flex-rows>div {
  width: 20%;
  height: 50px;
  border: 1px solid #000;
}

.rem {
  font-size: 2rem;
}
.ch {
  font-size: 2rem;
}
.angle {
  width: 100px;
  height: 100px;
  background: #a00;
  transform: rotate(30deg);
}
.calc {
  width: calc(50% - 300px);
  border: 1px solid red;
  height: 40px;
}

.transform > p {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
.matrix {
  transform: matrix(1,2,3,4,5,6);
}
.mixture {
  transform: translate(500px, 30px) skew(30deg);
}
.rotate {
  transform: rotate(60deg);
}

.polling_message {
  color:white;
  float:left;
  margin-right:2%;            
}

.view_port {
  background-color:black;
  height:25px;
  width:100%;
  overflow: hidden;
}

.cylon_eye {
  color:white;
  height: 100%;
  width: 20%;
  background-color: red;
  background-image: linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
  animation: move_eye 4s linear 0s infinite alternate;
}

@keyframes move_eye { 
  from { 
    margin-left: -20%; 
  }
  to { 
    margin-left: 100%; 
  }  
}