.par {
  height: 40vh;
  background-color: #fff;
}

.placeholder {
  height: 60vh;
  width: 100%;
}

#bg1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  background: url('../assets/CSS3/bgScroll/img1.jpg');
  background-size: cover;
}
#bg2, #bg3, #bg4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#bg2 {
  height: 200vh;
  z-index: -3;
}
#bg3 {
  height: 300vh;
  z-index: -2;
}
#bg4 {
  height: 400vh;
  z-index: -1;
}
.bg2-placeholder {
  width: 100%;
  height: 100vh;
}
.bg2-bg {
  width: 100%;
  height: 100vh;
  background: url('../assets/CSS3/bgScroll/img2.jpg');
  background-size: cover;
}
.bg3-placeholder {
  width: 100%;
  height: 200vh;
}
.bg3-bg {
  width: 100%;
  height: 100vh;
  background: url('../assets/CSS3/bgScroll/img3.jpg');
  background-size: cover;
}
.bg4-placeholder {
  width: 100%;
  height: 300vh;
}
.bg4-bg {
  width: 100%;
  height: 100vh;
  background: url('../assets/CSS3/bgScroll/img4.jpg');
  background-size: cover;
}


/* 完整版 */

.full-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.first {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.second {
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
}
.third {
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
}
.last {
  width: 100%;
  height: 0;
  background-repeat: no-repeat;
}