* {
  margin: 0;
  padding: 0;
}
/* 使用calc函数，支持加减乘除，乘法必须要有一位是number，除法被除数为number，运算符左右为空白符 */
.reduce {
  width: calc(100% - 80px);
  height: 20px;
  background: #ee5e5e;
}
.nesting {
  --widthA: 100px;
  --widthB: calc(var(--widthA) * 2);
  --widthC: calc(var(--widthB) * 2);
  width: var(--widthC);
  background: #6161ee;
  color: #5c0808;
}