* {
  color: #999;
}
.blur {
  filter: blur(2px);
}
.brightness {
  filter: brightness(0.5);
}
.contrast {
  filter: contrast(.5);
}
.drap-shadow {
  filter: drop-shadow(16px 16px 10px 10px black);

  
}